
<%= link_to 'Cadastrar Nova Categoria', new_category_path %>

<% if @categories.empty? %>
  <h3>Nenhuma Categoria Encontrada</h3>
<% else %>
  <ul>
    <% @categories.each do |category| %>
      <%= category.name %>
    <% end %>
  </ul>
<% end %>
